.App {
  text-align: center;
  text-align: -webkit-center;
}

body {
  margin: 0;
}

.div_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 170vh; */
  width: 100%;
  background-color: grey;
}
.btn_container {
  position: fixed;
  top: 15px;
}

.btn_container > button {
  border: none;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 2px #000;
  background-color: white;
  cursor: pointer;
  transition: 1s;
  margin-bottom: 10px;
}

.div_container > button:hover {
  background-color: black;
  color: white;
}

.div_paper {
  padding: 30px;
  height: 100%;
  width: 594px;
  /* margin: 30px; */
  background-color: white;
  text-align: center;
  text-align: -webkit-center;
  margin: 10% 0 10% 0;
}

.div_paper > div {
  margin: 30px;
}

table {
  width: 100%;
  table-layout: fixed;
}

table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

td {
  word-wrap: break-word;
  text-overflow: ellipsis;
}

th {
  /* width: 130px; */
}

.td_style {
  width: 230px;
}

button + button {
  margin-left: 30px;
}
